@{
    ViewData["Title"] = "EmployeeProfile";
    Layout = "_AdminLayout";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-9 col-xs-6">
            <h1>Employees</h1>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            <a class="btn btn-xs btn-default" href="@Url.Action("NewHire","Account")" >New User</a>
                        </th>
                        <th>
                            <a href="/useradmin?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;pagesize=10&amp;sortmode=1">Created</a>
                        </th>
                        <th></th>
                        <th>
                            Email/Login
                        </th>
                          <th>
                            <a href="/useradmin?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;pagesize=10&amp;sortmode=0">Display Name</a>
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            <a href="/useradmin?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;pagesize=10&amp;sortmode=2">Last Name</a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-default" href="/useradmin/useredit?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;userId=ee0da5b7-eac0-4254-9a9a-13cc8e4669ce">Manage</a>
                        </td>

                        <td>
                            <a class="btn btn-xs btn-default" href="/supervisor/permission?userId=ee0da5b7-eac0-4254-9a9a-13cc8e4669ce">Add Permission</a>

                        </td>
                        <td>
                            4/17/2018 5:20 AM
                        </td>
                        <td>
                            <img gravatar-email="programmerarsalaniu@gmail.com" gravatar-size="30">
                        </td>
                        <td>
                            programmerarsalaniu@gmail.com /
                            A
                        </td>
                        <td>
                            A
                        </td>
                        <td>
                            Arsalan
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-default" href="/useradmin/useredit?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;userId=0a3f0c55-a76a-4191-8a15-1f03573142df">Manage</a>
                        </td>

                        <td></td>
                        <td>
                            4/17/2018 6:33 AM
                        </td>
                        <td>
                            <img gravatar-email="programmerarsalan@gmail.com" gravatar-size="30">
                        </td>
                        <td>
                            programmerarsalan@gmail.com /
                            programmerarsalan
                        </td>
                        <td>
                            A A
                        </td>
                        <td>
                            A
                        </td>
                        <td>
                            A
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-default" href="/useradmin/useredit?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;userId=e1df0580-b454-4767-8f12-37c8e0deecc6">Manage</a>
                        </td>

                        <td></td>
                        <td>
                            2/12/2018 1:35 PM
                        </td>
                        <td>
                            <img gravatar-email="admin@admin.com" gravatar-size="30">
                        </td>
                        <td>
                            admin@admin.com /
                            admin
                        </td>
                        <td>
                            Admin
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-default" href="/useradmin/useredit?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;userId=e215a419-c222-44b1-b909-97c2b82d4327">Manage</a>
                        </td>

                        <td></td>
                        <td>
                            4/17/2018 8:16 AM
                        </td>
                        <td>
                            <img gravatar-email="lets_play879@yahoo.com" gravatar-size="30">
                        </td>
                        <td>
                            lets_play879@yahoo.com /
                            lets_play879
                        </td>
                        <td>
                            Faraz Ahmed
                        </td>
                        <td>
                            Faraz
                        </td>
                        <td>
                            Ahmed
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-default" href="/useradmin/useredit?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;userId=167bc8d6-cacf-4b54-abf7-542604ba7a59">Manage</a>
                        </td>

                        <td>
                            <a class="btn btn-xs btn-default" href="/supervisor/permission?userId=167bc8d6-cacf-4b54-abf7-542604ba7a59">Add Permission</a>

                        </td>
                        <td>
                            4/16/2018 7:27 PM
                        </td>
                        <td>
                            <img gravatar-email="jamen@dagnum.com" gravatar-size="30">
                        </td>
                        <td>
                            jamen@dagnum.com /
                            jamen@dagnum.com
                        </td>
                        <td>
                            Jamen Dagnum
                        </td>
                        <td>
                            Jamen
                        </td>
                        <td>
                            Dagnum
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-default" href="/useradmin/useredit?siteId=a9d9c0b8-1930-4059-a58c-e52648bee1ba&amp;userId=969694e0-0344-4f07-9d21-07d5cc726c59">Manage</a>
                        </td>

                        <td></td>
                        <td>
                            4/16/2018 7:27 PM
                        </td>
                        <td>
                            <img gravatar-email="jamen@jamen.me" gravatar-size="30">
                        </td>
                        <td>
                            jamen@jamen.me /
                            jamen
                        </td>
                        <td>
                            Jamen Tabesh
                        </td>
                        <td>
                            Jamen
                        </td>
                        <td>
                            Tabesh
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

